[core]
	autocrlf = true
	editor = \"GitExtensions.exe\" fileeditor
	fscache = true
	symlinks = false
[color]
	interactive = true
	ui = auto
[credential]
	helper = !\"./mingw64/bin/git-credential-manager.exe\"
[credential "helperselector"]
	selected = manager
[diff]
	guitool = winmerge
[diff "astextplain"]
	textconv = astextplain
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[difftool "winmerge"]
	cmd = \"WinMerge-64/WinMergeU.exe\" -e -u \"$LOCAL\" \"$REMOTE\"
	path = WinMerge-64/WinMergeU.exe
[fetch]
	prune = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	required = true
	smudge = git-lfs smudge -- %f
[help]
	format = html
[i18n]
	filesEncoding = utf-8
[merge]
	guitool = winmerge
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true
[mergetool "winmerge"]
	cmd = \"WinMerge-64/WinMergeU.exe\" -e -u  -wl -wr -fm -dl \"Mine: $LOCAL\" -dm \"Merged: $BASE\" -dr \"Theirs: $REMOTE\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" -o \"$MERGED\"
	path = WinMerge-64/WinMergeU.exe
[pull]
	rebase = true
[rebase]
	autosquash = true
	autostash = true
	updateRefs = false
[user]
	name = தமிழ்நேரம்
	email = tamilneram247@gmail.com